@font-face {
    font-family: 'LiAlinurRuposhi'; /* Unique font name */
    src: url('./fonts/Li Alinur Ruposhi Unicode Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  